# Android / Gradle
build/
.gradle/
.idea/
*.apk
*.aar
*.dex
local.properties
*.iml
.cxx/
captures/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.db
*.sqlite

# OS / Editors
.DS_Store
Thumbs.db
*.swp
.vscode/
